body {
    background-color: #f9f4f8;
    font-family: Arial;
    margin: 0;
}


.container {
    width: 1100px;
    margin: 80px auto;
    overflow: hidden;
}


.left {
    width: 45%;
    float: left;
}

.left h1 {
    color: #4b2c5e;
    font-size: 38px;
}

.left p {
    color: gray;
    line-height: 1.6;
}


.right {
    width: 45%;
    float: right;
}


.box {
    background-color: #f3e8f6;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: bold;
}


.stars {
    display: inline-block;
    margin-right: 15px;
}

.text {
    display: inline-block;
    color: #4b2c5e;
}


.star {
    color: gold;
    font-size: 18px;
}


.box2 {
    margin-left: 40px;
}

.box3 {
    margin-left: 80px;
}