body {

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
}

.card {
    background: #4b2c63;
    color: white;
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #fff;
}

.profile h3 {
    margin: 0;
    font-size: 16px;
}

.profile span {
    font-size: 13px;
    color: #d8a8ff;
}

.card p {
    font-size: 14px;
    line-height: 1.5;
}


.card-down {
    margin-top: 40px;
}
 body {
    background-color: #f9f4f8;
    font-family: Arial;
    margin: 0;
}


.container {
    width: 1100px;
    margin: 80px auto;
    overflow: hidden;
}


.left {
    width: 45%;
    float: left;
}

.left h1 {
    color: #4b2c5e;
    font-size: 38px;
}

.left p {
    color: gray;
    line-height: 1.6;
}


.right {
    width: 45%;
    float: right;
}


.box {
    background-color: #f3e8f6;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: bold;
}


.stars {
    display: inline-block;
    margin-right: 15px;
}

.text {
    display: inline-block;
    color: #4b2c5e;
}


.star {
    color: gold;
    font-size: 18px;
}


.box2 {
    margin-left: 40px;
}

.box3 {
    margin-left: 80px;
}

